@charset "UTF-8";

/* ログイン・新規登録・登録完了のレイアウト */
html{
    /* 高さは指定せず、内容量に合わせて自動で合わせるようにする */
    /* ある程度高さを持たせたいのであればpaddingで余白を持たせる */
    /* 上右下左 */
    padding:150px 0  170px 0;
}
body{
    /* グラデーション */
    background: linear-gradient( #1577b4,#4fa9f3,#FFD400);
}
.wrapper{
    height: auto;
    /* 幅を指定 */
    width:400px;
    /* background-color:#28304b; */
    /* 中央寄せ */
    margin:0 auto;
}
header{
    /* containerとの距離を開ける 個々の隙間はページで違うけど。。(;'∀')*/
    margin-bottom: 80px;
}
/* 「Atlas」画像 */
img{
    /* ブロック要素にする */
    display: block;
    /* 中央寄せ */
    margin: 0 auto;
    /* 画像サイズ */
    width: 150px;
    /* ※高さはデフォルトで自動的に比率を合わせてくれ表示される */
}
/* 「Social Network Service」 */
header p{
    /* background-color: #FFD400; */
    /* 文字中央寄せ */
    text-align: center;
    /* 文字色 */
    color: #ffffff;
    /* 文字のサイズ */
    font-size: 2.2rem;
    /* 文字を折り返さない */
    white-space: nowrap
}

/* 以下コンテナ部分 */
/* コンテナ・共通パーツ */
#container{
    /* 中央寄せ */
    margin: 0 auto;
    background: linear-gradient( #2a78dd,#9ea04c);
    /* 文字中央寄せ */
    text-align: center;
    /* ラッパーに対する割合 */
    width: 70%;
    /* 文字周りの余白 上右下左 */
    padding: 20px 20px 5px 20px;
    /* 淵を丸く */
    border-radius: 13px;
}
/* 「AtlasSNSへようこそ」「新規ユーザ登録」 */
#container p{
    color: #ffffff;
    /* ようこそ・ユーザ登録の上下に余白 */
    margin-top: 20px;
    margin-bottom: 30px;
    /* 文字サイズ */
    font-size: 1.3rem;
}
/* 「新規ユーザーの方はこちら」「ログイン画面に戻る」 */
#container p a{
    color: #ffffff;
    /* 上のログインボタンとの隙間をあける */
    margin-top: 40px;
    /* 文字サイズ */
    font-size: 1.2rem;
}
/* Lalabelのフォームの見た目調整 */
label{
    /* 文字サイズ */
    font-size: 0.9rem;
    color: #ffffff;
    /* インラインからブロック要素に変える(縦に並ぶ)*/
    display: block;
    /* 左寄せ */
    text-align: left;
    /* 頭文字が勝手に大文字になるのを直す */
    text-transform:lowercase;
}
/* 入力の箱部分 */
input{
    display: block;
    /* インラインからブロック要素に変える */
    border-radius: 8px;
    width: 100%;
    height: 40px;
    /* 縦幅と横幅を指定 */
    margin-bottom: 18px;
    /* 入力欄の下に余白 */
    border: none;
    /* 淵を消す */
}
/* 赤いボタン */
.button{
    /* 文字サイズ */
    font-size: 1.2rem;
    /* ボタンの大きさ */
    height: 40px;
    width: 55%;
    /* 縦幅と横幅を指定 */
    margin: 0 0 0 auto;
    /* 右寄せにする */
    border: none;
    /* 淵を消す */
    color: #ffffff;
    background-color: #ee3939;
    /* 淵を丸く */
    border-radius: 8px;
}
/* 登録完了画面 */
#clear p{
    color: #ffffff;
    font-size: 1.1rem;
    /* 余白 */
    margin-top: 0.3rem;
    margin-bottom: 0;
}
#clear p:nth-child(1) {
    font-weight: bold;
}
#clear p:nth-child(2) {
    font-weight: bold;
}
#clear p:nth-child(3){
    margin-top: 40px;
    margin-bottom: 20px;
}
#clear p:nth-child(4){
    margin-bottom: 30px;
}

/* 「ログイン画面へ」 */
#clear p a{
    text-align: center;
}
#clear .button{
    /* 中央寄せ */
    margin: 0 auto;
    /* 下に余白 */
    margin-bottom: 30px;
}
