@charset "UTF-8";

/* ログイン・新規登録・登録完了のレイアウト */
html{
    /* 縦いっぱいに広げる */
    /* height: 100%; */
    height:100vh
}

body{
    /* 縦いっぱいに広げる */
    height: 100%;
    /* グラデーション */
    background: linear-gradient( #1577b4,#4fa9f3,#FFD400);
}

.wrapper{
    /* 幅を指定 */
    width:400px;
    /* 上 | 右 | 下 | 左  上を少し下げる*/
    padding:20px 0 0 0;
    background-color:#28304b;
    /* 中央寄せ */
    margin:0 auto;
}
header{
    /* containerとの距離を開ける */
    margin-bottom: 100px;
}
/* 「Atlas」画像 */
img{
    /* ブロック要素にする */
    display: block;
    /* 中央寄せ */
    margin: 0 auto;
    /* 画像サイズ */
    width: 150px;
    /* ※高さはデフォルトで自動的に比率を合わせてくれ表示される */
}

/* 「Social Network Service」 */
header p{
    background-color: #FFD400;
    /* 文字中央寄せ */
    text-align: center;
    /* 文字色 */
    color: #ffffff;
    /* 文字のサイズ */
    font-size: 2.2rem;
    /* 文字を折り返さない */
    white-space: nowrap
}

/* 以下コンテナ部分 */
#container{
    margin: 0 auto;
    background: linear-gradient( #2a78dd,#9ea04c);
    /* 文字中央寄せ */
    text-align: center;
    /* 中身に合わせて高さを設定 */
    height: auto;
    /* ラッパーに対する割合 */
    width: 70%;
    /* 文字周りの余白 上右下左 */
    padding: 20px 20px 5px 20px;
    /* 淵を丸く */
    border-radius: 13px;
}

/* 「AtlasSNSへようこそ」「新規ユーザ登録」 */
#container p{
    color: #ffffff;
    /* 上下に余白 */
    margin-top: 10px;
    margin-bottom: 30px;
    /* 文字サイズ */
    font-size: 1.3rem;
}
/* 「新規ユーザーの方はこちら」 */
#container p a{
    /* ブロック要素にする */
    display: block;
    color: #ffffff;
    /* 上のログインボタンとの隙間をあける */
    margin-top: 40px;
    /* 文字サイズ */
    font-size: 1.0rem;
}

/* Lalabelのフォームに対して */
label{
    /* 文字サイズ */
    font-size: 0.9rem;
    color: #ffffff;
    /* インラインからブロック要素に変える(縦に並ぶ)*/
    display: block;
    /* 左寄せ */
    text-align: left;
    /* 頭文字が勝手に大文字になるのを直す */
    text-transform:lowercase;
}

/* Loginボタンのサイズ */
submit{
        /* 文字サイズ */
        font-size: 0.9rem;
}


/* 入力の箱部分 */
input{
    display: block;
    /* インラインからブロック要素に変える */
    border-radius: 8px;
    width: 100%;
    height: 40px;
    /* 縦幅と横幅を指定 */
    margin-bottom: 18px;
    /* 入力欄の下に余白 */
    border: none;
    /* 淵を消す */
}

.button{
    height: 40px;
    width: 50%;
    /* 縦幅と横幅を指定 */
    margin: 0 0 0 auto;
    /* 右寄せにする */
    border: none;
    /* 淵を消す */
    color: #ffffff;
    padding: 12px 12px;
    background-color: #ee3939;
}

/* 登録後画面 */
#clear p{
    color: #ffffff;
    font-size: 0.7rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
}
#clear p:nth-child(3){
    margin-top: 20px;
}

/* 「ログイン画面へ」 */
#clear p a{
    font-size: 0.8rem;
    text-align: center;
}
#clear .button{
    display: block;
    /* インラインからブロック要素に変える */
    border-radius: 8px;
    height: 30px;
    /* 縦幅と横幅を指定 */
    margin-bottom: 18px;
    /* 入力欄の下に余白 */
    border: none;
    /* 淵を消す */

}
