@charset "utf-8";
html{
    /* 高さは指定せず、内容量に合わせて自動で合わせるようにする */
    /* ある程度高さを持たせたいのであればpaddingで余白を持たせる */
    /* 上右下左 */
    padding:0 0 170px 0;
}
body{
    color: #624649; /*文字色　赤茶色*/
    font-size: 1rem;  /*1rem＝htmlで指定された文字サイズを基準とする(4よりここでは16px)*/
    font-family:'メイリオ', 'Meiryo', sans-serif;/*OSによって認識される描き方が異なるため複数の描き方をする*/
    /*※サンセリフ＝文字の端に線のない書体*/
}

/* ヘッダー部分の設定 */
/* header */
header{
    background:#186AC9;
    padding: 10px 15px;
    /* 内側余白 */
    height: 100%;
    position: relative;
}

#head{
    display: flex;
    position: relative;
    /* ヘッダーの中身を横並びにする */
}

#head h1{
    position: absolute;
    width: 70%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    /* 右寄せ 上右下左 */
}
#head h1 a{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* リンク範囲を親要素に合わせる */
    display: flex;
    /* flexとは何なのか。。。(;'∀') */
}
/* 共通 画像の大きさ */
#head h1 a img{
    height: 50px;
    position: absolute;
}
/* プロフィール画像のサイズを一括で指定したい (;'∀')*/
.pro_img{
    height: 60px;
    /* アイコンは上にそろえたい 指定要素を上端揃えにします。 */
    vertical-align: top;
}
/* ボタンクラス要素共通 */
button{
    border: none;
    background-color: transparent;
}
/* ボタン共通 */
.btn{
    background-color: #186AC9;
    width: 8rem;
    text-align: center;
    padding: 10px 10px;
    /* 上下の余白 左右の余白 */
    border-radius: 5px;
    /* 角を丸くする */
}
.btn a{
    color: #ffffff; /*文字色*/
    /* 文字を折り返さない */
    white-space: nowrap
}


/* サイドバー*/
#confirm{
    height: 250px;
    /* 上下の余白 左右の余白 */
    padding: 20px 20px;
    background-color:rgb(60, 230, 117);
    /* 下にグレーの線を引く */
    border-bottom: 1px solid #727272;
    /* ユーザ検索ボタンとの隙間 */
    margin-bottom: 30px;
    /* position: relative; */
}

.follow_box{
    margin-top: 15px;
    /* 〇〇さんの、との間に距離を開ける */
    /* position: relative; */
    background-color: rgb(253, 222, 144);
    /* 仮の色 */
    height: 220px;
    /* 高さを指定 */
    /* display:flex;
    justify-content: space-between; */
}
.confirm_follow{
    height: 110px;
}
.confirm_follow:nth-child(1){
    background-color: #ee3939;
    word-spacing: 28px;
}
.confirm_follow:nth-child(2){
    word-spacing: 10px;
}

/* サイドバーのボタン */
#confirm .list_btn{
    /* btnのあるpタグはブロック要素である */
    /* position: absolute; */
    /* right: 0; */
    /* bottom: 0; */
    /* デフォルトはposition:static 位置が変えられないため**位置を変えたいときはrelativeやabsoluteにする */
    width: 50%;
    /* ボタン位置 */
    margin: 20% 0% 0% auto;
}

/* ユーザ検索ボタン */
.listsearch_btn{
    /* position: absolute; */
    margin: 0 auto;
    /* bottom: 0; */
    /* デフォルトはposition:static 位置が変えられないため**位置を変えたいときはrelativeやabsoluteにする */
    width: 50%;
}


.confirm_follow--num{
    display: flex;
    /* フォロー数・フォロワー数と〇〇名とを横並びにする */
}
.confirm_follow--num p:nth-child( 2 ) {
    margin-left: 30px;
    /* フォロー数・フォロワー数と〇〇名との間を開ける */
}
/* フォローフォロワーリスト */
.list_icon{
    display: block;
    display: flex;
    /* 左に余白 */
    padding-left: 30px;
}
.follow_top span{
    font-size: 1.5rem;
}


/* 共通 リストの下線 */
li{
    /* 中身を横並び */
    display: flex;
    /* 上下の余白 左右の余白 */
    padding: 20px 20px;
}
li:not(:last-child){
    /* 下に下線 */
    border-bottom:1px solid #2e2e2e;
    /* 中身を横並び */
    display: flex;
}
li figure{
    /* アイコンの左側に余白 */
    margin-left: 80px;
}
/* 下段 アイコンより右側 */
.post_content{
    width:100%;
    /* 余白 上右下左 */
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}
/* divの塊の要素を横並びにして両端に寄せる */
.post_content > div{
    display:flex;
    justify-content:space-between;
}
.post_name{
    margin-bottom:10px;
}

/* ヘッダーの右側（名前、ハンバーガー、アイコン） */
#login_user_area{
    display: flex;
    /* 横並びにする */
    margin: 0 0 0 auto;
    /* 右寄せ 上右下左 */
}

#login_user_area p{
    margin-top: auto;
    margin-bottom: auto;
}

/* グローバルナビゲーション(ハンバーガー) */
.g-navi{
    text-align: center;
    /* background-color: #dadada; */
    margin-right: 20px;
    margin-left: 30px;
    /* 左右に余白 */
    margin-bottom: auto;
    margin-top: auto;
    /* 上下中央にそろえる */
}

.menu{
    display: none;
/* メニューは非表示にしておく */
}
/* メニューはactiveの時だけ表示にしておく */
.menu.active{
    position: absolute;
    /* 親要素、confirmに大きさを合わせる 要素の上に重ねる */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    /* display noneを解除する */
    background: #fff0af;
    font-size: 1.4rem;
}
.menu.active ul{
    /* 横幅いっぱい*/
    width: 100%;
}

.menu.active li{
    /* liはブロック要素である */
    /* height: 33%; */
    /* １００は３で割れないので微妙に隙間ができる (;'∀')*/
    height: calc(100% / 3);
    /* きれいに三分割！
    カルク：計算*/
    border-bottom: none;
    padding: 0;
}

.menu.active li a{
    /* ブロック要素にすることでリンク範囲が横幅いっぱいになる */
    /* ブロック要素になれば、横幅や縦幅の指定ができる */
    display: block;
    width: 100%;
    /* テキストを上下中央寄せに */
    text-align: center;
    /* 親要素からはみ出ないようにサイズに余白も含める */
    box-sizing: border-box;
    /* 上と左側に余白 上右下左*/
    padding: 40px 0px 40px 0px;
}
.menu.active li a:hover{
    /*マウスオンしたときのスタイルを設定*/
    background-color:#186AC9;
    color: #ffffff;
}


/* ハンバーガーメニューのスタイル 　ボツ*/
/* .menu-trigger{
    position: relative;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-color: #fff;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
    margin-right: 10px;
    margin-left: 40px;
} */

/* ハンバーガーメニューボタンを＞記号の回転によって書く */
.menu-trigger{
    transform: rotate(-90deg);
    color: #ffffff;
    font-weight: bolder;
    /* フォントを少しだけ太くする */
    background: transparent;
    border: none;
    margin-right: 10px;
    margin-left: 20px;
    /* ボタンに謎の枠線と背景色がついたので消す */
}
/* ハンバーガーメニューを押下すると上向きになる */
.menu-trigger.active{
    transform: rotate(90deg);
    color: #ffffff;
    font-weight: bolder;
    background: transparent;
    border: none;
    margin-right: 10px;
    margin-left: 20px;
}

/* ページの構造全体の設定 */
/* ヘッダー以外のページ全体（サイド含む） */
#row{
    display: flex;
    /*★★side-barと合わせてid名rowに入っている。それを横並びにしている */
    /* flex-flow: row wrap; */
    /* 折り返さない */
    /* 高さの指定 */
    height: auto;
}
/* サイド以外の部分 */
#container{
    height: 100%;
    /* 左側8割 */
    flex: 0 0 80%;
    /* 仮の色付け */
    background-color:orange;
    /* 右側に線 */
    border-right: 1px solid #727272;
}
#side-bar{
    /* 右側2割 */
    width: 20%;
    height: 360px;
    /* 仮の色付け */
    background-color: #c0c6fc;
}
#login_user_area p{
    color: #ffffff;
}

/* 共通の構造の設定！！ */
/* 共通上半分 */
.top{
    background-color:rgb(252, 231, 117);
    /* 下にグレーの線を引く */
    border-bottom: 10px solid #dadada;
    /* エリアの大きさ */
    /* width: 100%; */
    height: 20%;
    /* トップにあるアイテムは横並びである */
    display: flex;
    /* 上下の余白 上右下左 */
    padding: 30px 0 30px 60px;


}
.bottom{
    /* 高さはコンテンツによる */
    height: auto;
    /* 高さに最低ラインを設ける */
    min-height: 400px;
    background-color:rgb(116, 186, 255);
}
/* 共通フォームエリアの中の各要素 */
.form-control{
    /* インプットエリアの大きさ */
    width: 100%;
    height: 100%;
    /* 淵を消す */
    border: none;
}

/* ここから個別ページの設定 */
/* 新規投稿エリア */
/* 投稿フォームの箱の大きさ */
.post_top form{
    /* フォームの中の要素を親要素の幅いっぱいに広げる */
    display:flex;
    justify-content:space-between;
    /* フォームエリアの幅 */
    width: 85%;
    /* background-color: #186AC9; */

}


/* 投稿ボタン */
.post{
    /* ボタンエリアのサイズ */
    height: 45px;
    width: 50px;
    /* 角丸 */
    border-radius: 5px;
    /* ボタンを親要素の下辺に */
    margin-top: 80px;
    background:url("../images/post.png") #777e86;
    background-size:auto 100% ;
}

/* 編集と削除のボタン */
.post_icon{
    /* 横並びにする */
    display: flex;
}
.post_icon button{
    /* ボタンエリアのサイズ */
    height: 45px;
    width: 45px;
}
/* 編集アイコン */
.js-modal-open{
    background-image:url("../images/edit.png");
    /* 高さ１００％ */
    background-size:auto 100% ;
}
/* 削除アイコン */
.delete{
    background-image:url("../images/trash.png");
    background-size: auto 100%;
}
.delete:hover{
    background-image:url("../images/trash-h.png");
    background-size: auto 100%;
}
/* 投稿の表示幅を決める */
.post_area{
    width: 65%;
}


/* 編集ダイアログの表示非表示 */
.modal{
    display: none;
    height: 100vh;
    /* 要素の位置を固定 スクロールしても常に表示される */
    position: fixed;
    top: 0;
    width: 100%;
}
/* activeの時だけ表示にしておく */
/* ダイアログを広げたときのバックの薄い色 */
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
    /* z-index: 10000; */
}
/* ダイアログ本体の設定 */
.modal__content{
    /* ボタンと箱を横並びに */
    display: flex;
    background: #fff;

    /* 周りに余白 */
    padding: 40px;
    /* 位置固定 */
    position: absolute;
    /* 横位置 縦位置*/
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* 箱の大きさ */
    width: 50%;
    height: 35%;
}

.modal_form{
    width: 100%;
    position: relative;
    /* background-color: #186AC9; */
}

.modal_post{
    /* 親要素からはみ出ないようにサイズに余白も含める */
    box-sizing: border-box;
    border:1px solid #2e2e2e;
    padding: 1em;
    width: 100%;
    height:80%;
    background-color: transparent;
    /* リサイズ不可 */
    resize: none;
}

.modal_submit {
    height: 45px;
    width: 45px;
    background-image: url(../images/edit.png);
    background-size: auto 100%;
    /* 右寄せ */
    float: right;
}


/* ダイアログが表示されているとき、トップページは少し薄くなる
バックに鵜宇井レイヤーを一枚引く？？ */


/* ログアウト中のページのCSS */



/* プロフィール画面のcss */
.profile_top{
    /* 横並びにしない */
    display: block;
    border-bottom:none;
}
.profile_content{
    /* background-color: blueviolet; */
    margin-right: 20px;
    /* 右との間に余白 */
    /* アイコンと入力エリアを横並び */
    display: flex;
    width: 60%;
    /* 中央に配置 */
    margin: 0 auto;
}

.profile_figure{
    margin-right: 20px;
    /* 右の入力欄との間に余白 */
    /* background-color: aqua; */
}

.profile_table{
    width: 100%;
    box-sizing: border-box;
}
.profile_table tr{
    width: 100%;
    padding-bottom: 20px;
    /* background-color: #b7d5f7; */
    /* ラベルと入力エリアを横並び */
    display: flex;
}
/* ラベル */
.profile_table th{
    font-size: 1.0rem;
    background-color: #f5ffbb;
    /* display: block; */
    /* インラインからブロック要素に変える(縦に並ぶ)*/
    text-align: left;
    /* 左寄せ */
    text-transform:lowercase;
    /* 頭文字が勝手に大文字になるのを直す */
    /* 折り返さない */
    white-space: nowrap;
    width: 30%;
    height: 50px;
    /* 上下中央寄せ */
    box-sizing: border-box;
    padding: 20px 10px;
}
/* 入力欄 */
.profile_table td{
    font-size: 1.0rem;
    text-align: left;
    width: 70%;
    height: 50px;
    /* 内側左右余白 */
    margin: 0 5px;
    position: relative;
    border: 2px solid #9c9c9c;
    box-sizing: border-box;
}

.profile_table td :last-child{
    border:none;
}

/* プロフィール入力の箱部分 */
.profile-form{
    height:100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    background-color: #f0f0f0;
}
/* ファイルをアップロードの見た目修正 */

/* ラベル要素に対してスタイルを指定する */
label.file{
    display: block;
    /* 文字中央寄せ */
    box-sizing: border-box;
    padding: 15px 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    color: #2e2e2e;
    position: absolute;
/* 親要素、profile_table tdに大きさを合わせる */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 200%;
    border: 2px solid #9c9c9c;
}

/* スタイルを無効にする */
input[type="file"] {
    display: none;
}

/* プロフィール更新ボタン */
.profile_btn{
    width: 15%;
    border-radius: 5px;
    /* 角丸 */
    display: block;
    /* ボタンを中央に寄せる */
    margin: 0 auto;
    /* 「更新」文字を中央に寄せる */
    text-align: center;
    /* 淵を消す */
    border: none;
    color: #ffffff;
    background-color: #ee3939;
    /* 上に余白 */
    margin-top: 50px;
}

/* ユーザー検索のcss */
.search_box{
    /* 検索エリアと検索結果を横並びにする */
    display: flex;
    background-color: beige;
    width: 70%;
    height: 50px;
    justify-content:space-between;
}

.search_box form{
    /* 検索ボックスと検索アイコンを横並びにする */
    display: flex;
    background-color: #727272;
    width: 70%;
}
.search_box input{
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    /* 検索ボックスに枠線を引く */
    border: 2px solid #9c9c9c;
    /* 角丸 */
    border-radius: 4.0px;
    margin-right: 20px;
}
/* 検索ボタン */
.search_box button{
    height: 100%;
    width: 50px;
}
.search_btn i{
    /* 検索の虫眼鏡を白にする */
    color: #fff;
    /* 大きさ */
    font-size: 2rem;
}

/* 検索ワードの表示 */
.search_content{
    /* 上下に同じだけ余白を設定することで上下中央寄せにする */
    padding:10px 0;
}
.search_result{
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 25%;
    border: 4px solid #e63a3a;
    border-radius: 1.5px;
}
.search_result p{
    /* 中央寄せ */
    padding: 20px 20px;
    font-weight: bold;
}

/* 検索結果一覧 */
.search_results{
    position: relative;
    background-color: bisque;
    width: 40%;
    /* 中央に配置 */
    margin: 0 auto;
    /* 余白左右 */
    padding: 0 10px 0 10px;
}

.search_name{
    margin-left: 20px;
    /* 上下に同じだけ余白を設定することで上下中央寄せにする */
    padding:10px 0;

}
.search_figure{
    margin-left: 0;
}

.search_results li{
    /* 下線不要 */
    border-bottom: none;
    /* 折り返さない */
    white-space: nowrap
}
/* フォロー解除ボタンを赤にする */
.unfollow_btn{
    background-color: #e63a3a;
}

/* ほかのユーザのプロフィール */
/* 投稿フォームの箱の大きさ */
.othersprofile_content{
    background-color: #186AC9;
    /* フォームの中の要素を親要素の幅いっぱいに広げる */
    justify-content:space-between;
    /* フォームエリアの幅 */
    width: 85%;
}