@charset "utf-8";
html{
    font-size: 12px; /*ページ全体にテキストの大きさの基準を指定する*/
}
body{
    color: #624649; /*文字色　赤茶色*/
    font-size: 1rem;  /*1rem＝htmlで指定された文字サイズを基準とする(4よりここでは16px)*/
    font-family:'メイリオ', 'Meiryo', sans-serif;/*OSによって認識される描き方が異なるため複数の描き方をする*/
    /*※サンセリフ＝文字の端に線のない書体*/
}

/* ヘッダー部分の設定 */
/* header */
header{
    background:#186AC9;
    padding: 10px 15px;
    /* 内側余白 */
    height: 100%;
    position: relative;
}

#head{
    display: flex;
    position: relative;
    /* ヘッダーの中身を横並びにする */
}

#head h1{
    position: absolute;
    width: 70%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    /* 右寄せ 上右下左 */
}
#head h1 a{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* リンク範囲を親要素に合わせる */
    display: flex;
    /* flexとは何なのか。。。(;'∀') */
}
#head h1 a img{
    margin-top: auto;
    margin-bottom: auto;
    /* 上下中央寄せ */
}


/* ヘッダーの右側（名前、ハンバーガー、アイコン） */
#login_user_area{
    display: flex;
    /* 横並びにする */
    margin: 0 0 0 auto;
    /* 右寄せ 上右下左 */
}

#login_user_area p{
    margin-top: auto;
    margin-bottom: auto;
}

/* グローバルナビゲーション(ハンバーガー) */
.g-navi{
    text-align: center;
    /* background-color: #dadada; */
    margin-right: 20px;
    margin-left: 30px;
    /* 左右に余白 */
    margin-bottom: auto;
    margin-top: auto;
    /* 上下中央にそろえる */
}

.menu{
    display: none;
/* メニューは非表示にしておく */
}
/* メニューはactiveの時だけ表示にしておく */
.menu.active{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    /* 親要素、confirmに大きさを合わせる 要素の上に重ねる */
    display: flex;
    /* display noneを解除する */
    background: #fff0af;
    font-size: 1.5rem;
    text-align: center;
}
.menu.active li{
    /* liはブロック要素である */
    /* height: 33%; */
    /* １００は３で割れないので微妙に隙間ができる (;'∀')*/
    height: calc(100% / 3);
    /* きれいに三分割！
    カルク：計算*/
    position: relative;
}

.menu.active li a{
    display: block;
    /* ブロック要素にすることでリンク範囲が横幅いっぱいになる */
    /* line-height: 4; */
    /* ★★★ここがはみ出している(;'∀') */
    /* 行ボックスの高さ */
    /* 縦にもいっぱいにしたい */
    height: calc(100% / 3);
    


    /* position: absolute;
    margin-top: auto;
    margin-bottom: auto; */

}
.menu.active li a:hover{
    /*マウスオンしたときのスタイルを設定*/
    background-color:#186AC9;
    color: #ffffff;
}


/* ハンバーガーメニューのスタイル 　ボツ*/
/* .menu-trigger{
    position: relative;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-color: #fff;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
    margin-right: 10px;
    margin-left: 40px;
} */

/* ハンバーガーメニューボタンを＞記号の回転によって書く */
.menu-trigger{
    transform: rotate(-90deg);
    color: #ffffff;
    font-weight: bolder;
    /* フォントを少しだけ太くする */
    background: transparent;
    border: none;
    margin-right: 10px;
    margin-left: 20px;
    /* ボタンに謎の枠線と背景色がついたので消す */
}
/* ハンバーガーメニューを押下すると上向きになる */
.menu-trigger.active{
    transform: rotate(90deg);
    color: #ffffff;
    font-weight: bolder;
    background: transparent;
    border: none;
    margin-right: 10px;
    margin-left: 20px;
}


/* main content */
#row{
    display: flex;
    /*★★side-barと合わせてid名rowに入っている。それを横並びにしている */
    flex-flow: row wrap;
    /* 折り返さない */
    padding: 30px 0px 0px 40px;
    /* 左側に余白 上右下左*/
    height: 80vh;
    /* 高さの指定 */
}
#container{
    /* flex: 0 0 80%; */
    flex-grow: 1;
    /*containerとside-barが横いっぱいに広がるようにする
    side-barのほうに幅を指定する*/
    background-color:orange;
    /* 仮の色付け */
}

#side-bar{
    flex: 0 0 22%;
    /* flex-grow  フレックスコンテナ内のアイテムの伸び方の比率を指定
    flex-shrink フレックスコンテナ内のアイテムの縮み方の比率
    flex-basis フレックスアイテムの幅
    この方法で描くと右側に絶妙な隙間ができる*/
    border-left: 1px solid #727272;
    /* 縦線 */

    background-color:rgb(255, 241, 254);
    /* 仮の色付け */

}

#login_user_area p{
    color: #ffffff;
}




/* 共通部分の設定(;'∀') */

/* 共通上半分 */
.top{
    background-color:rgb(252, 231, 117);
    border-bottom: 5px solid #dadada;
    /* 下にグレーの線を引く */
    min-height: 100px;
    /* 高さに最低ラインを設ける */
}

/* 共通下半分 */
.bottom{
    background-color:rgb(116, 186, 255);
    padding: 0px 0px 0px 40px;
    /* 左側に余白 */
    min-height: 100px;
    /* 高さに最低ラインを設ける */
}

/* 共通 画像の大きさ */
img{
    width: 40px;
    /* 高さはデフォルトで自動的に比率を合わせてくれ表示される */
}


/* ここから個別ページの設定 */
/* TOPページ右側 */
#confirm{
    position: relative;
    /* 親要素にrelativeを設定 */
    padding: 20px 20px;
    /* 上下の余白 左右の余白 */
}

#side-bar #confirm .confirm_follow{
    margin-top: 15px;
    /* 〇〇さんの、との間に距離を開ける */
    position: relative;
    background-color: rgb(253, 222, 144);
    /* 仮の色 */
    min-height: 60px;
    /* 高さを指定 */
}

#side-bar #confirm .confirm_follow .btn{
    /* btnのあるpタグはブロック要素である */
    background-color: #186AC9;
    width: 8rem;
    text-align: center;
    padding: 10px 10px;
    /* 上下の余白 左右の余白 */
    border-radius: 5px;
    /* 角を丸くする */
    position: absolute;
    right: 0;
    bottom: 0;
    /* デフォルトはposition:static 位置が変えられないため**位置を変えたいときはrelativeやabsoluteにする */
}
.confirm_follow--num{
    display: flex;
    /* フォロー数・フォロワー数と〇〇名とを横並びにする */
}
.confirm_follow--num p:nth-child( 2 ) {
    margin-left: 30px;
    /* フォロー数・フォロワー数と〇〇名との間を開ける */
}


#side-bar #confirm .confirm_follow .btn a{
    color: #ffffff; /*文字色*/
}

/* ユーザ検索ボタン */

#side-bar .btn{
    background-color: #186AC9;
    width: 10rem;
    text-align: center;
    padding: 10px 10px;
    /* 上下の余白 左右の余白 */
    border-radius: 5px;
    /* 角を丸くする */
    margin: 0 auto;
    /* 中央寄せにする */
}
#side-bar .btn a{
    color: #ffffff; /*文字色*/
}


/* TOPページ上半分 */
.posted_area{
    display: flex;
    /* 横並びにする */
    position: relative;
    /* これを基準に、子(time,btnの位置を決める) */
}

.posted_area--time{
    position: absolute;
    /* デフォルトはposition:static 位置が変えられないため**位置を変えたいときはrelativeやabsoluteにする */
    right: 0;
    top: 0;
}

.posted_area--btn{
    position: absolute;
    right: 0;
    bottom: 0;

}


/* TOPページ上半分 */


.post_btn{
    background-image: url(image/post.png);

}


/* ログアウト中のページのCSS */



/* プロフィール画面のcss */
.profile{
    display: flex;
    padding: 10px 0px 0px 100px;
    /* 左側に余白 上右下左*/
}
.profile_area_user{
    margin-right: 20px;
    /* 右の入力欄との間に余白 */
    background-color: aqua;
}
.profile_area_content{
    background-color: blueviolet;
    margin-right: 20px;
    /* 右との間に余白 */
    display: block;
    width: 100%;
}
label{
    font-size: 0.8px;
    color: #ffffff;
    display: block;
    /* インラインからブロック要素に変える(縦に並ぶ)*/
    text-align: left;
    /* 左寄せ */
    text-transform:lowercase;
    /* 頭文字が勝手に大文字になるのを直す */
}

/* 入力の箱部分 */
input{
    display: block;
    /* インラインからブロック要素に変える */
    width: 100%;
    height: 30px;
    /* 縦幅と横幅を指定 */
    margin-bottom: 18px;
    /* 入力欄の下に余白 */
    border: none;
    /* 淵を消す */
}